body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.App {
  height: 100vh;
}

.world-logo {
  height: 30px;
  margin-right: .5rem;
}

.navbar-custom {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  padding: 20px;
}

.journal-name {
  font-size: 20px;
  color: white;
}

.journey-img {
  border-radius: 10px;
  max-width: 100%;
  height: 250px;
}

.journey-text {
  text-align: left;
  max-width: 100%;
}

.location-tag {
  letter-spacing: 2px;
}

.journey-text>a {
  text-decoration: underline;
  color: #918E9B;
}

.journey-text>a:hover {
  text-decoration: underline;
}

.image-border {
  max-height: 100%;
}

.location-icon {
  height: 18px;
}

.google-map-link {
  overflow-wrap: break-word;
  cursor: pointer;
}
.google-map-link:hover{
  color: white;
}
.form-background{
  background-color:#F55A5A;
}
.submit-button{
  opacity: 1;
  cursor: pointer;
}
.submit-button:disabled{
  cursor: not-allowed;
  opacity: 0.4;
}
.add-new-icon{
  cursor: pointer;
  color: rgb(255, 255, 255,0.5);
}
.add-new-icon .bi-plus-square-fill{
  display: none;
}
.add-new-icon:hover{
  color: white;
}
.add-new-icon:active .bi-plus-square-fill{
  display: inline;
}
.add-new-icon:active .bi-plus-square{
  display: none
}
.brand{
  cursor: pointer;
}